
@import url('./main.css');

 .header{
 
    text-transform: uppercase;
    color: white;
    background-position: top;

 }

 .header-main{
    display: block;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 1rem;
    animation-name: moveLeft ;
    animation-duration: 1s;

 }

 .header-sub{
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
    padding-bottom: 10%;
    margin-left: 5rem;
    animation-name:moveRight;
    animation-duration:1s;

 }

 .text-box{
     position: absolute;
     left: 20%;
     top: 20%;
     text-align:center;
 }

 h4{
     margin-left: 2rem;
 }


.login-link {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-variant-caps:titling-caps;
    text-align: center;
    margin: 5rem;
    animation-name: moveBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay:0.5s;
}

a {
    text-decoration:none;
    font-size:2rem;
}


form {
    width: 600px;
    margin: auto;
    margin-top: 30rem;
    border: 3px solid rgb(75, 167, 190);
    border-radius: 10px;
    padding: 2rem;
    background: #f8fafb;
}


form :nth-last-child(5) {
    margin-left: 8em;
    padding:5rem ;
   
}
.form-input {
    background: rgba(35, 134, 152, 0.887),
    border: 1px solid #7d2e2e;
    padding: 1.5rem;
    width: 95%;
    margin-left: 1rem;
    text-align:center;
}


.div-btn :first-child{
  width: 5em;
  margin-left: 2rem;
  margin-top: 2rem;
  width: 10rem;
  max-height: 10rem;
  text-transform: uppercase;
}

.form-b:hover {
    background: #0a3a49;
}


@keyframes moveLeft {

   0%{
      opacity: 0;
      transform:translateX(-50%);

   }

   80%{
    transform:translate(20%)

   }

   100%{
      opacity:1;
      transform:translate(0);
   }


}


@keyframes moveRight {

    0%{
       opacity: 0;
       transform:translateX(50%);
 
    }
 
    100%{
       opacity:1;
       transform:translate(0);
    }
 
 
 }


@keyframes moveBottom {

    0%{
       opacity: 0;
       transform:translateY(50%);
 
    }
 
    100%{
       opacity:1;
       transform:translate(0);
    }
 
 
 }


