<div class="login-container">

     <form class="login-form" method="POST" action="/login">

          <div class="form-h">
          <h2 >Login to your account</h2>
          </div>

          <div class="form-g">
               <input class="form-in" type="text" name="username" placeholder="username" >
          </div>

          <div class="form-g">
               <input class="form-in"  type="password" name="password"  placeholder="password" >
          </div>

          <div class="form-g">
               <button class="form-b" type="submit" > Login </button>
          </div>

     </form>

</div>


