
<div class="signup-form-error">

        <form  method="POST" action="/signup">
                <div class="form-header">
                        <h2 >Signup to access your account</h2>
                </div>
                <div class="form-g">
                        <input class="form-input"  type="text" name="username" placeholder="username">
                </div>
                <div class="form-g">
                        <input class="form-input"  type="text" name="email"  placeholder="email">
                </div>
                <div class="form-g">
                        <input class="form-input"  type="text" name="password"  placeholder="password">
                </div>
                <div class="div-btn">
                        <input class="form-btn" type="submit" value="Sign up">
                </div>
        </form>
        <p class="login-link-error">Already Registered? <a href="/login">Login</a> </p>
</div>                                    
<br> 