<div class="wrap">

<form class="SorL-form" method="POST" action="/signup">

<div class="form-h">
<h2 >Signup to access your account</h2>
</div>

<div class="form-g">
<input class="form-in"  type="text" name="username" placeholder="username">
</div>

<div class="form-g">
<input class="form-in"  type="text" name="email"  placeholder="email">
</div>

<div class="form-g">
<input class="form-in"  type="text" name="password"  placeholder="password">
</div>

<div class="form-g">
<input class="form-b" type="submit" value="Sign up">
</div>

</form>

</div>