<% @member%>
<form method="POST" action="/histories/<%=@member.id%>">
<input type="text"  name="doctor_name" placeholder="doctor name" >
<input type="text" name="doctor_desc" placeholder="doctor desc" >
<input type="text" name="age_at_visit" placeholder="age at visit" >
<input type="text" name="date" placeholder="date" >
<input type="submit" value="create">
</form>