
<div class="header">
   <div  class="text-box">
     <span  class="header-main" >Welcome To Sinatra Medical Family History App!</span>
     <span  class="header-sub"> This app  will help you to track your family  medical history records </span>
    </div>
 </div>

<br>

<%if Helpers.is_logged_in?(session) %>
   <div class="welc"> <a  href="/members">Members</a><br><br>
       <a  href="/logout">Log out</a>
   </div>
<%else%>

   <div class="form-container">

         <form  class ="signup-form" method="POST" >
         
               <div class="form-header">
                   <h2 >Signup to access your account</h2>
               </div>
               
               <div class="form-g">
                  <input class="form-input"  type="text" name="username" placeholder="username">
               </div>
               
               <div class="form-g">
                   <input class="form-input"  type="text" name="email"  placeholder="email">
               </div>
               
               <div class="form-g">
                   <input class="form-input"  type="text" name="password"  placeholder="password">
               </div>
               
                <div class="div-btn">
                  <input class="form-btn" type="submit" value="Sign up">
               </div>

         </form>

      <p class="login-link">Already Registered? <a href="/login">Login</a> </p>
   </div>                                    
   <br> 
   
<%end%>
<br>
<br>
<br>
</div>
