<!DOCTYPE html>

  <head>

    <title>SinatraMedicalHistory</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>

  <% flash.keys.each do |type| %>
    <div data-alert class="flash <%= type %> alert-box radius">
      <%= flash[type] %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>
  
        <%= yield %>
    
      <footer id="footer">
        <small>&copy; 2020 <strong>SinatraMedicalHistory</strong></small>
      </footer>
  </body>
</html>

