<!DOCTYPE html>

  <head>

    <title>SinatraMedicalHistory</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
  
        <%= yield %>
    
      <footer id="footer">
        <small>&copy; 2020 <strong>SinatraMedicalHistory</strong></small>
      </footer>
   
  </body>
</html>

