<!DOCTYPE html>

  <head>
    <title>SinatraMedicalHistory</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/welcome.css" />
    <link rel="stylesheet" href="/stylesheets/login.css" />
    <link rel="stylesheet" href="/stylesheets/members.css" />
    <link rel="stylesheet" href="/stylesheets/history.css" />

    <link rel="stylesheet" href="/stylesheets/main.css" />

  </head>

  <body>
  <header>
        <%= yield %>

         <div class="footer">
           @MadeBy Ahmed Afandy 2020
         </div>
    </header>
  </body>

</html>

