<!DOCTYPE html>

  <head>
    <title>SinatraMedicalHistory</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>

  <body>
        <%= yield %>

    <div class="footer">
         
             <small>.  <strong></strong></small>
       
      </div>
  </body>

</html>

