<p class="wel">Welcome <%=@user.username%> !<p>

<ul class="member-index">
<li class="dropdown">
<a>Family members</a>

<div class="dropdown-content">
<% @members.each_with_index do |member,index| %>
<a href='/members/<%= member.id %>/histories'> <%=index+1%> - <%=member.name%> </a>
<%end%>
</div>

</li>
  <li> <a href="/members/new" class="mem-bar">Create new member</a></li>
  <li><a href="/logout" class="mem-bar">logout</a></li>
</ul>

