<h1>Family Members</h1>
<br>
<div>
<h2> <% @members.each do |member| %>
    <a href='/members/<%= member.id %>/histories'> <%=member.name%></a><br>
<%end%> </h2>
</div>
<br>
<a href="/members/new">create more members</a>
<br>
<br>
<h4><a href='/logout'>logout</a></h4>


