<p class="wel">WELCOME <%=@user.username.upcase%> !<p>

<ul class="member-index">
    
      <li class="dropdown">
          <a>Family Members</a>

          <div class="dropdown-content">
              <% @members.each_with_index do |member,index| %>
              <a href='/members/<%= member.id %>/histories'> <%=index+1%> - <%=member.name%> </a>
              <%end%>
          </div>

      </li>

      <li> <a href="/members/new" class="mem-bar">Create New Member</a></li>
      <li><a href="/logout" class="mem-bar">Logout</a></li>
</ul>

