<div class ="wrap">
<form class="SorL-form"  method="POST" action="/members">
    <input type="text"  name="name" placeholder="name" >
    <input type="text" name="order_age" placeholder="order_age" >
    <input type="text" name="kinship" placeholder="kinship" >
    <input type="submit" value="create member">
</form>
</div>