<ul>
<li> Name of Member :</li>
     <%= @member.name %><br>
     <li>  his age order in the family </li>
     <%= @member.order_age %><br>

    <li> his kinship to user:</li>
    <%= @member.kinship %><br>
 </ul>
<br>

 <a href="/histories/index"> Show me medical history for <%= @member.name %></a>
 
   